In [1]:
import pandas
import json

In [3]:
df = pandas.read_csv('./data/korean_subtitles_translation.csv')

In [4]:
df.head()

,video,index,start_time,end_time,korean subtitle,start_seconds,end_seconds,Google translation,Microsoft translation,DeepL translation
0,0,1,0 days 00:00:00,0 days 00:00:03.920000,Cauldron,0.00,3.92,Cauldron,Cauldron,Cauldron
1,0,2,0 days 00:00:03.920000,0 days 00:00:05.900000,uz,3.92,5.90,uz,uz,uz
2,0,3,0 days 00:00:10.120000,0 days 00:00:14.200000,얼굴에 있는 너낌,10.12,14.20,The feeling on your face,Generosity on the face,In the face
3,0,4,0 days 00:00:14.200000,0 days 00:00:17.760000,나는 인스타그램의 회 circular,14.20,17.76,I am a member of Instagram circular,I posted a message on Instagram.,I use Instagram's circular
4,0,5,0 days 00:00:19.280000,0 days 00:00:22.780000,04,19.28,22.78,04,04,04

In [10]:
col = df.columns[1:]

In [11]:
group_df = []
for vid, group in df.groupby('video'):
    srt = group[col].to_dict(orient='records')
    group_df.append({
        'video': vid,
        'srt': srt
    })

In [ ]:
with open('./data/korean_subtitles.json', 'w') as json_file:
    json.dump(group_df, json_file, indent=4)